@font-face {
    font-family: "Impact";
    src: url("assets/fonts/impact.ttf") format("truetype");
}

@font-face {
    font-family: "Impacted";
    src: url("assets/fonts/Impacted.ttf") format("truetype");
}

@font-face {
    font-family: "Unicode-Impact";
    src: url("assets/fonts/unicode.impact.ttf") format("truetype");
}


/* CUSTOM RESETS
================================================== */

.body-container {
    background: #ffffff 0% 0% no-repeat padding-box;
    width: 100%;
    /* height: 100%; */
    padding: 0% 10%;
}


/* <HEADER>
================================================== */

.site-header {
    margin: 0px 5%;
    margin-top: 5px;
    width: 90%;
    height: 85px;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #0000000D;
    opacity: 1;
    background: #FEF0EF 0% 0% no-repeat padding-box;
    background-color: rgba(0, 0, 0, 0.04);
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-radius: 10px;
    padding: 0px 10px;
}

.row-div {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 65px;
    height: 65px;
    padding-right: 15px;
}

.nav-logo-text {
    font-size: 25px;
    font-family: Impact;
    letter-spacing: 7px;
    color: #393643;
    margin-bottom: 0px;
}

.ul-row-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    padding: 0px 10px;
}

.nav-item-selected {
    padding: 0px 10px;
    height: 92px;
    border-bottom: 5px solid #F56961;
    border-radius: 5px;
    align-items: center;
    display: flex;
}

.nav-link {
    font: bold 12px Arial;
    letter-spacing: 0px;
    color: #938AA5;
}

.nav-link-selected {
    font: bold 12px Arial;
    letter-spacing: 0px;
    color: #F56961;
    font-weight: 900;
    text-decoration: none;
}

.nav-link-selected:hover {
    font: bold 12px Arial;
    letter-spacing: 0px;
    color: #F56961;
    font-weight: 900;
    text-decoration: none;
}

.nav-link:hover {
    color: #000000;
    font-weight: 900;
}

.navbar {
    display: flex;
    list-style-type: none;
    margin-bottom: 0px;
}

.nav-btn {
    background: #F56961 0% 0% no-repeat padding-box;
    border-radius: 20px;
    font: bold 12px Arial;
    letter-spacing: 0px;
    color: "#ffffff";
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-btn:hover {
    background: #F56961 0% 0% no-repeat padding-box;
    border-radius: 20px;
    font: bold 12px Arial;
    letter-spacing: 0px;
    color: "#ffffff";
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}


/* </HEADER>
==================================================== */

.first-section {
    background: #FEF0EF;
    width: 100%;
    /* height: 100%; */
    padding-bottom: 30px;
}

.first-section-div {
    display: flex;
    justify-content: space-around;
}

.first-section-body-div {
    width: fit-content;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.banner-1 {
    margin-top: -30px;
    width: 100%;
    padding-right: 10px;
    float: right;
}

.banner-1a {
    /* margin-top: -30px; */
    width: 50%;
    /* height: 50%; */
    padding-right: 10px;
    float: right;
}

.web-text-style {
    float: right;
    font: bold 45px Catamaran;
}

.dev-text-style {
    float: right;
    font: normal 30px Catamaran;
}

.how-text-style {
    font: bold 30px Arial Rounded MT;
}

.body-text-style {
    text-transform: capitalize;
    padding-top: 5px;
    font: normal 13px Catamaran;
    color: #242E6C;
}

.dot-a-style {
    width: 200px;
    height: 200px;
    padding-top: 50px;
}

.second-section {
    background: #E5E8FB;
    width: 100%;
    /* height: 100%; */
}

.second-section-div {
    display: flex;
    justify-content: space-around;
}

.dot-b-style {
    width: 150px;
    height: 150px;
    margin-top: -40px;
    margin-left: 10px;
}

.dot-c-style {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: -100px;
}

.banner-3 {
    width: 50%;
    /* height: 50%; */
}

.banner-2 {
    width: 100%;
    /* height: 100%; */
    padding-left: 10px;
}

.second-section-body-div {
    padding: 30px;
    width: 80%
}

.we-text-style {
    font: bold 15px Arial Rounded MT;
    color: #938AA5;
}

.button {
    background: #F56961 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font: bold 14px Arial;
    letter-spacing: 0px;
    color: "#ffffff";
    text-decoration: none;
    width: fit-content;
    padding: 15px 20px;
    display: flex;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.button:hover {
    background: #F56961 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font: bold 14px Arial;
    letter-spacing: 0px;
    color: "#ffffff";
    text-decoration: none;
    width: fit-content;
    padding: 15px 20px;
    display: flex;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.footer {
    background: #282834;
    width: 100%;
    height: 100px;
    margin-top: -10px;
}